# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist


# 所有博客文章 完全忽略
_posts/**

# 所有图片 全部忽略
assets/images/**

# 你的个性化定制文件（保留本地不提交）
_config.yml
_data/contact.yml
_includes/custom/
_includes/footer.html
_layouts/
_tabs/
assets/img/
assets/js/

# 系统/临时/缓存文件
.DS_Store
*.tmp
*.log
tmp/
temp/