# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

# # 博客核心配置（我要保留的本地文件）
# _config.yml
# _data/contact.yml
# _includes/custom/beian.html
# _includes/footer.html
# _layouts/default.html
# _layouts/home.html
# _layouts/post.html
# _tabs/about.md
# 
# # 静态资源（图片、JS、Lib 全部忽略）
# assets/images/**
# assets/js/**
# assets/lib/**
# assets/img/**
# 
# # 临时/笔记文件
# _posts/README.md
# _posts/push_system_mermaid.md
# 
# # 日志、缓存、系统文件
# .DS_Store
# *.log
# tmp/
# temp/
# *.tmp